navbar-brand{
    width:25%
}

navbar-collapse{
    font-family: Arial, Helvetica, sans-serif;
}

form{
    color:white; 
}

fa-facebook{
    color:#f8f5f6;
}

body {
    background-size: cover; 
    width: auto;
    background: linear-gradient(to top, rgb(133, 90, 51), rgb(194, 164, 131));
    font-family: Arial, Helvetica, sans-serif;

}

text{
    text-align: center;
}

li{
    display: inline-block;
}

text-center{
    border: ridge black 1px;
}
